<ion-content>
  <div class="main-content">
    <section class="login-container">
      <figure>
        <img alt="logo app" src="assets/img/logo-app.png" />
        <h1 class="title">Iniciar Sesión</h1>
      </figure>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">

        <ion-item>
          <ion-input label="Correo" labelPlacement="floating" placeholder="example@email.com"
            formControlName="email"></ion-input>
        </ion-item>
        <div>
          <ng-container *ngFor="let error of formErrors.email">
            <ion-label color="danger"
              *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
              {{ error.message }}
            </ion-label>
          </ng-container>
        </div>

        <ion-item>
          <ion-input label="Clave" labelPlacement="floating" placeholder="***"
            formControlName="password" type="password"></ion-input>
        </ion-item>
        <ng-container *ngFor="let error of formErrors.password">
          <div>
            <ion-label color="danger"
              *ngIf="(loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty)">
              {{ error.message }}
            </ion-label>
          </div>
        </ng-container>
        <ion-label color="danger">{{ errorMessage }}</ion-label>

        <ion-button type="submit" [disabled]="!loginForm.valid">Ingresar</ion-button>

        <div>
          <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
        </div>
      </form>
    </section>
  </div>

</ion-content>