<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <swiper-container slides-per-view="1" pagination="true">

    <swiper-slide class="slide">
      <h2>Bienvenido a</h2>
      <img src="/assets/img/logo-app.png" class="slide-img" />
      <p>Conéctate con personas de todo el mundo</p>
    </swiper-slide>

    <swiper-slide class="slide">
      <h2>Comparte tus momentos</h2>
      <img src="/assets/img/presentacion.avif" class="slide-img" />
      <p>Publica fotos, historias y mantente en contacto</p>
      <ion-button expand="full" (click)="finish()">Empezar</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>