<ion-content>
  <swiper-container slides-per-view="1" pagination="true">
    <swiper-slide class="slide-1">
      <h1 class="title1">Slide 1</h1>
      <img src="/assets/img/image.png">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>Chill Guy</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Slide 2</h1>
      <img src="https://www.cnet.com/a/img/resize/b492180385d7c2e5b941261631753f1eb34da17e/hub/2021/08/20/453e37bf-61cb-4e16-ad90-fd822bdc390a/keychron-k3-mechanical-keyboard.jpg?auto=webp&fit=crop&height=675&width=1200">
      <ion-icon name="desktop-outline"></ion-icon>
      <p>Teclado Mecanico</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Slide 3</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p>Swiper sin imagen :D</p>
      <ion-button class="btn-volver"  (click)="finish()">Volver al HOME</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>