<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nuevo Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="addPostForm" (ngSubmit)="addPost()">

    <!-- Imagen del Post -->
    <div class="post-image-container" (click)="presentPhotoOptions()">
      <img [src]="post_image ? post_image : 'assets/img/img-default.png'" />
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </div>

    <!-- Descripción -->
    <ion-item class="input-container">
      <ion-label position="floating">Descripción del post</ion-label>
      <ion-textarea formControlName="description" maxlength="250"></ion-textarea>
    </ion-item>
    <ion-text color="medium" class="char-count">
      {{ addPostForm.get('description')?.value?.length || 0 }}/250
    </ion-text>

    <!-- Botón Publicar -->
    <div class="form-buttons">
      <ion-button type="submit" expand="full" [disabled]="!addPostForm.valid">
        Publicar
      </ion-button>
    </div>

  </form>

</ion-content>
