.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  place-items: center;
  gap: 4px;
  padding: 4px;

}

.post-card {
  margin-bottom: 16px;
  background-color: white;
  max-width: 400px;
  border-radius: 12px;

  .image-post {
    width: 400px;
    height: 250px;
  }

  .user-creator {
    display: flex;
    align-items: center;

    .user-avatar {
      width: 40px;
      height: 30px;
      margin-right: 8px;
    }
  }

  .post-content {
    font-size: 14px;
    color: #666;
    margin-top: 8px;
  }

  .like-button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #e63946;
  }
}