<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de publicaciones -->
  <ion-list class="post-list">
    <ion-card *ngFor="let post of posts" class="post-card">
      <!-- Imagen del post -->
      <img src="{{ post.image }}" class="image-post" />

      <!-- Encabezado del post -->
      <ion-card-header>
        <ion-card-subtitle class="user-creator">
          <ion-avatar class="user-avatar">
            <img [src]="post.user.image ? post.user.image : 'assets/img/user-default.jpeg'" alt="User Avatar" />
          </ion-avatar>
          {{ post.user.name }}
        </ion-card-subtitle>
      </ion-card-header>

      <!-- Contenido del post -->
      <ion-card-content class="post-content">
        {{ truncateText(post.description, 100) }}
      </ion-card-content>

      <!-- Botón de likes -->
      <ion-card-content>
        <ion-button fill="clear" class="like-button">
          <ion-icon name="heart-outline"></ion-icon>
          {{ post.likes ?? 0 }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadPosts($event)" *ngIf="hasMore">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más publicaciones...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- Botón flotante para agregar nueva publicación -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addPost()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>