.user-avatar {
  width: 30px;
  height: 30px;
}

.image-post {
  margin: 0 auto;
  display: block;
  height: 200px;
  width: 300px;
}

ion-fab {
  ion-fab-button {
    --background: #f4f4f4;
    --color: red;
  }
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.post-card {
  width: 400px;
  background-color: white;
  color: black;
  padding: 10px;
}

.user-creator {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-weight: 700;
}