<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content >
    <ion-list class="post-list">
        <ion-card *ngFor="let post of posts" class="post-card">
            <img src="{{post.image}}" class="image-post" />
            <ion-card-header>
                <ion-card-subtitle class="user-creator">
                    <ion-avatar class="user-avatar">
                        <img [src]="post.user.image ? post.user.image : 'assets/img/user-default.jpeg'" />
                    </ion-avatar>
                    {{post.user.name}}
                </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="post-content">
                {{post.description}}
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPost()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>