.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .title {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
    }

    & figure {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &>img {
            width: 150px;
            height: auto;
            margin: 0 auto;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    // margin: 0 1rem;
}

@media (min-width: 1280px) {
    .register-container {
        width: 40%;
    }
}